* {
    box-sizing: border-box;
}

body {
    background: url(../images/qbkls.png) repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

header {
    background: #fff;
    border-color: #ccc;
    border-bottom: solid 1px;
    margin-bottom: 30px;

}

h1 {
    background-color: #4aaaa5;
    color: #fff;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 0;
}

h4 {
    color: white;
    background: #4aaaa5;
    text-align: center;
    padding: 10px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

nav {
    width: 300px;
    float: right;
    margin-top: 25px;
    text-align: center;
}

nav a {
    color: #777;
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
}

li {
    display: inline-block;
}

img {
    float: left;
    padding: 0 20px 0 0;
}

h2 {
    border-bottom: 2px solid;
    border-color: #ccc;
    padding: 15px 0;
    margin-bottom: 20px;
}

.clearfix {
    display: block;
    clear: both;
}

footer {
    background-color: #666;
    text-align: center;
    padding: 20px;
    size: 9px;
    color: #fff;
    border-top: 4px solid;
    border-color: #4aaaa5;
    margin-top: 30px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
}

.form {
    padding: 20px;
    width: 100%;
    margin: 10px 0;
}

textarea {
    padding: 20px;
    width: 100%;
    margin: 10px 0;
    display: inline-block;
    border-color: #ccc;
}

.Submit {
    background-color: #4aaaa5;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    cursor: pointer;
}

.portfolio-item {
    background-color: #4aaaa5;
    position: relative;
    width: 30%;
    margin: 0 20px 20px 0;
    display: inline-block;
    padding: 100px 0 15px 0;
}

#project1 {
    background: url("../images/swiss.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#project2 {
    background: url("../images/swiss.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#project3 {
    background: url("../images/swiss.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#project4 {
    background: url("../images/swiss.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#project5 {
    background: url("../images/swiss.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#project6 {
    bbackground: url("../images/swiss.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#Box {
    background-color: #fff;
    border: 1px solid;
    border-color: #ddd;
    margin-bottom: 20px; 
    padding: 20px;
    width: 960px; 
}